# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env

# Logs
*.log
npm-debug.log*
logs/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Temporales
tmp/
temp/
